<div class="product-info__row div-top div-bottom" style="border-bottom: 0px;">
	<span>
		<i class="fa fa-truck"></i>
		{{ text_shipping_to }}</span>
	<span class="shipping-destination-wrapper">
		<form method="get">
			<label class="fab-input__label">{{ text_city_regency }}</label>
			<select id="shipping-destination" name="shipping-destination" class="selectpicker show-tick" data-live-search="true" data-live-search-normalize="true">
				<option data-hidden="true">{{ text_select_shiping_location }}</option>
				{% for custom in estimasi %}
<option value="{{ custom.id }}">{{ custom.country }} - {{ custom.zone }}</option>

				{% endfor %}
			</select>
		</form>
	</span>
	<div class="product-info__row__text">
		<table class="fab-table-shipping-info font-12">
			<tbody>
				<tr>
					<td class="text-gray font-12">
						<span>{{ text_shipping_estimation }}</span>
					</td>
					<td id="delivery-date" class="text-bold text-right fab-text-action"></td>
				</tr>
				<tr>
					<td class="text-gray font-12">
						<span>{{ text_shipping_cost }}</span>
					</td>
					<td id="delivery-cost" class="text-bold text-right fab-text-action"></td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
<script>
	$('select[name=\'shipping-destination\']').on('change', function () {
$.ajax({
url: 'index.php?route=product/product/custom&id=' + this.value + '&product_id= {{ product_id }}',
dataType: 'json',
beforeSend: function () {
$('select[name=\'shipping-destination\']').prop('disabled', true);
},
complete: function () {
$('select[name=\'shipping-destination\']').prop('disabled', false);

},
success: function (json) {
var someDate = new Date();
var numberOfDaysToAdd = parseInt(json['etd']);

var etd = parseInt({{ etd }});

console.log(etd);
var plusDate = numberOfDaysToAdd + etd;
someDate.setDate(someDate.getDate() + plusDate);

var dd = someDate.getDate();
var mm = someDate.getMonth() + 1;
var y = someDate.getFullYear();
let day = '';
let m = '';

switch (someDate.getDay()) {
case 0: day = "Sunday";
break;
case 1: day = "Monday";
break;
case 2: day = "Tuesday";
break;
case 3: day = "Wednesday";
break;
case 4: day = "Thursday";
break;
case 5: day = "Friday";
break;
case 6: day = "Saturday";
}

switch (mm) {
case 1: m = 'Jan';
break;
case 2: m = 'Feb';
break;
case 3: m = 'Mar';
break;
case 4: m = 'Apr';
break;
case 5: m = 'May';
break;
case 6: m = 'Jun';
break;
case 7: m = 'Jul';
break;
case 8: m = 'Aug';
break;
case 9: m = 'Sep';
break;
case 10: m = 'Oct';
break;
case 11: m = 'Nov';
break;
case 12: m = 'Dec';
break;
default:
break;
}
var someFormattedDate = day + ', ' + dd + ' ' + m + ' ' + y;
var data = "{{ etd }}" + this.value;
$('#delivery-date').html(someFormattedDate);
$('#delivery-cost').html(json.cost);
},
error: function (xhr, ajaxOptions, thrownError) {
alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
}
});


});
$('select[name=\'shipping-destination\']').trigger('change');
$(document).ready(function () {
$('.selectpicker').prop("disabled", false);
$('.selectpicker').selectpicker({liveSearch: true});
}, 5000);
</script>
